{%extends 'all-main/base.html'%} 
{%block content%}
{{ block.super}}

    <div class="container-fluid">
        <h1 style="font-size:70px; color:rgb(138, 29, 38); font-family: 'Times New Roman', Times, serif;">Welcome to awwards</h1>

        <div class="container-fluid">
            <div class="row">
            {% for project in json_projects %}
            <div class="col-md-4">
                <div class="card-group">
                <div class="card card-personal mb-4">
                    <div class="view">
                    <img class="card-img-top" src="{{project.url}}" alt="{{project.title}}">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>

                    <div class="card-body">
                    <h3>{{project.title}}</h3>
                   
                    <a href="{{project.link}}" target="_blank">view site</a>

                    <p class="card-text"><b>project description:</b>{{project.description}}</p>
                    
                    <hr>
                        <b>{{project.author}}</b></span>
                        <a href=" "></a>

                        <h5><strong>Design:</strong>{{project.design }}</h5>
                        <h5><strong>Usability:</strong>{{project.usability}}</h5>
                        <h5><strong>Content:</strong>{{project.content}}</h5>
                        <h5><strong>Average:</strong>{{rating}}</span></h5>
                 

                 <a href=" "><button type="submit" class="btn btn-primary">Comment</button></a>


                    </div>
                </div>
                </div>


            </div>
            {% endfor %}

        </div>
    </div>
{%endblock%}
